            /*FORMACION*/

            /*Miformacion*/
main .contenedor-formacion{
    margin-top: 150px;
    text-align: center;
}

main .contenedor-formacion .row .columna-mi{
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
}
main .contenedor-formacion .row .columna-mi .titulo-parrafo-forma{
    text-decoration: underline;
}

            /*Formadores*/

main .contenedor-formacion .titulo-row-2{
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}

main .row .columna-formaciones{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px;
    gap: 10px;
    border: 2px solid black;
    padding: 20px 0px;
    border-radius: 5px;
}

main .row .columna-formaciones .tarjeta{
    position: relative;
    width: 350px;
    height: 280px;
    border: 3px solid rgb(248, 247, 247);
    border-radius: 20px;
    overflow: hidden;
    background-color: $primary-color;
}

main .row .columna-formaciones .tarjeta .icono-forma{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
    z-index: 5;
    background: var(--i);
    display: flex;
    justify-content: center;
    align-items: center;

}

main .row .columna-formaciones .tarjeta:hover .icono-forma{
    top:30px;
    left: calc(50% - 40px);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    transition-delay: 0s;
}

main .row .columna-formaciones .tarjeta:hover .img-formacion{
    width: 80px;
    transition-delay: 0s;
}

main .row .columna-formaciones .tarjeta .icono-forma img{
    width: 300px;
    margin-top: 5px;
    border-radius: 5px;
    transition: 0.5s;
    transition-delay: 0.25s;
}

main .row .columna-formaciones .tarjeta .content-forma{
    position: relative;
    padding: 20px;
    text-align: center;
    margin-top: 110px;
    z-index: 1;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

main .row .columna-formaciones .tarjeta:hover .content-forma{
    transform: scale(1);
    transition-delay: 0.25s;
}

main .row .columna-formaciones .tarjeta .content-forma h2{
    text-transform: capitalize;
}

main .row .columna-formaciones .tarjeta .content-forma p{
    font-size: 20px;
}

            /*Herramientas*/

main .contenedor-formacion .columna-herramientas{
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    width: 100%;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 5px;
}

main .contenedor-formacion .columna-herramientas .card{
    position: relative;
    width: 320px;
    height: 320px;
    margin: 20px;
    transform-style: preserve-3d;
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid white;
}
main .contenedor-formacion .columna-herramientas .card .caja-card{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1.5s ease;
}

main .contenedor-formacion .columna-herramientas .card:hover .caja-card{
    transform: rotateY(180deg);
}

main .contenedor-formacion .columna-herramientas .card .caja-card .img-card{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #000000;
}

main .contenedor-formacion .columna-herramientas .card .caja-card .img-card i{
    object-fit: cover;
    font-size: 80px;
    color: #d7dde2;
}

main .contenedor-formacion .columna-herramientas .card .caja-card .contenido-card{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #505152;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    backface-visibility:hidden ;
}

main .contenedor-formacion .columna-herramientas .card .caja-card .contenido-card  div{
    transform-style: preserve-3d;
    transform: translateZ(100px);
    background:linear-gradient(45deg, #0EA5E9, $primary-color);
    margin:0px 30px;
    padding: 20px;
    border-radius: 15px;
}

main .contenedor-formacion .columna-herramientas .card .caja-card .contenido-card  div h2{
    text-transform: capitalize;
    font-style: italic;
    text-decoration: underline;
    backface-visibility: hidden;
}

main .contenedor-formacion .columna-herramientas .card .caja-card .contenido-card  div p{
    font-size: 16px;
    backface-visibility: hidden;
}
