@use "sass:map";
@use "../utilidades/maps";
@use '../general/variables' as color;
@use '../utilidades/extends';
@use '../utilidades/mixins';

/*FORMACION*/


body{
    main{
        .contenedor-formacion{
            margin-top: 150px;
            text-align: center;
            @media (max-width:768px){// Responsive para celular//
                margin-top: 170px;
            }
            .row{   
                .columna-mi{    /*Miformacion*/
                    border: 2px solid color.$color-borde1;
                    border-radius: 5px;
                    margin-bottom: 15px;
                    .titulo-parrafo-forma{
                        text-decoration: underline;
                    }
                }
                .titulo-row-2{  /*Formadores*/
                    text-align: center;
                    text-transform: capitalize;
                    text-decoration: underline;
                }
                .columna-formaciones{
                    position: relative;
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    justify-items: center;
                    align-items: center;
                    margin: 15px 0px;
                    gap: 10px;
                    border: 2px solid color.$color-borde1;
                    padding: 20px 0px;
                    border-radius: 5px;
                    @media (max-width:1200px) { // Responsive para tablet mediana//
                        grid-template-columns: repeat(2, 1fr);
                        row-gap: 15px;
                    }
                     @media (max-width:768px) { // Responsive para celular//
                        grid-template-columns: 1fr;
                        row-gap: 15px;
                    }
                    .tarjeta{
                        position: relative;
                        @include mixins.escalas(350px, 280px);
                        border: 3px solid rgb(248, 247, 247);
                        border-radius: 20px;
                        overflow: hidden;
                        background-color: map.get(maps.$colores, color-primario);
                        .icono-forma{
                            position: absolute;
                            top: 0;
                            left: 0;
                            @include mixins.escalas(100%, 100%);
                            transition: 0.5s;
                            transition-delay: 0.25s;
                            z-index: 5;
                            background: var(--i);
                            @extend%centrado;
                            img{
                                width: 300px;
                                margin-top: 5px;
                                border-radius: 5px;
                                transition: 0.5s;
                                transition-delay: 0.25s;
                            }
                        }
                        .content-forma{
                            position: relative;
                            padding: 20px;
                            text-align: center;
                            margin-top: 110px;
                            z-index: 1;
                            transform: scale(0);
                            transition: 0.5s;
                            transition-delay: 0s;
                            h2{
                                text-transform: capitalize;
                            }
                            p{
                                font-size: 20px;
                            }
                        }
                        &:hover .icono-forma{
                            top:30px;
                            left: calc(50% - 40px);
                            @include mixins.escalas(90px, 90px);
                            border-radius: 50%;
                            overflow: hidden;
                            transition-delay: 0s;
                        }
                        &:hover .img-formacion{
                            width: 80px;
                            transition-delay: 0s;
                        }
                        &:hover .content-forma{
                            transform: scale(1);
                            transition-delay: 0.25s;
                        }
                    }
                }
                .columna-herramientas{  /*Herramientas*/
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(2, 400px);
                    gap:15px;
                    justify-items: center;
                    align-items: center;
                    margin: 15px 0px;
                    transform-style: preserve-3d;
                    width: 100%;
                    flex-wrap: wrap;
                    border: 2px solid color.$color-borde1;
                    border-radius: 5px;
                    @media (max-width:1200px) { // Responsive para tablet mediana//
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(3, 400px);
                    }
                    @media (max-width:992px) { // Responsive para tablet pequeña//
                        grid-template-columns: repeat(2, 340px);
                    }
                    @media (max-width:768px) { // Responsive para celular//
                        grid-template-columns: 1fr;

                    }
                    .card{
                        position: relative;
                        @include mixins.escalas(320px, 320px);
                        margin: 20px;
                        transform-style: preserve-3d;
                        border-radius: 15px;
                        overflow: hidden;
                        border: 3px solid white;
                        .caja-card{
                            position:absolute;
                            top: 0;
                            left: 0;
                            @include mixins.escalas(100%,100%);
                            transform-style: preserve-3d;
                            transition: 1.5s ease;
                            .img-card{
                                position: absolute;
                                top: 0;
                                left: 0;
                                @include mixins.escalas(100%,100%);
                                @extend%centrado;
                                align-content: center;
                                background: #000000;
                                i{
                                    object-fit: cover;
                                    font-size: 80px;
                                    color: #d7dde2;
                                }
                            }
                            .contenido-card{
                                position: absolute;
                                top: 0;
                                left: 0;
                                @include mixins.escalas(100%,100%);
                                background: #505152;
                                transform: rotateY(180deg);
                                flex-direction: column;
                                @extend%centrado;
                                transform-style: preserve-3d;
                                backface-visibility:hidden ;
                                div{
                                    transform-style: preserve-3d;
                                    transform: translateZ(100px);
                                    background:linear-gradient(45deg, map.get(maps.$colores, color-secundario),map.get(maps.$colores, color-primario));
                                    margin:0px 30px;
                                    padding: 20px;
                                    border-radius: 15px;
                                    h2{
                                        text-transform: capitalize;
                                        font-style: italic;
                                        text-decoration: underline;
                                        backface-visibility: hidden;
                                    }
                                    p{
                                        font-size: 16px;
                                        backface-visibility: hidden;
                                    }
                                }
                            }
                        }
                        &:hover .caja-card{
                            transform: rotateY(180deg);
                        }
                    }
                }
            }
        }
    }
}