<<<<<<<< HEAD:docs/scss/secciones/_info.scss
@use'../general/variables' as color;
========
@use "sass:map";
@use "../utilidades/maps";
@use'../general/variables' as color;
@use '../utilidades/extends';
>>>>>>>> version-1:docs/sass/secciones/_info.scss

/*INFO*/

body{ 
    main{
        .contenedor-info{
            margin-top: 130px;
            text-align: center;
            @media (max-width:768px){// Responsive para celular//
                margin-top: 170px;
            }
            .row{
                .columna-sobre-mi{  /*Sobre Mi*/
                    border: 2px solid color.$color-borde1;
                    border-radius: 5px;
                    margin-bottom: 15px;
                    h2{
                        text-transform: capitalize;
                        text-decoration: underline;
                    }
                    p{
                        font-style: italic;
                    }
                }
            }
            .row-mis-datos{     /*Mis Datos*/
                border: 2px solid color.$color-borde1;
                border-radius: 5px;
                margin-bottom: 15px;
                .columna-img-info{
                    height: 700px;
                    @extend%centrado;
                    img{
                        width: 400px;
                        border-radius: 25px;
                    }
                }
                .columna-caja-datos{
                    @extend%centrado;
                    align-content: center;
                    border-left: 2px solid color.$color-borde1;
                    @media (max-width:992px){// Responsive para tablet pequeña//
                            border-left: 0px solid color.$color-borde1;
                            border-top: 2px solid color.$color-borde1;
                        }
                    .caja-datos-info{
                        .titulo-datos{
                            font-size: 60px;
                            text-decoration: underline;
                            text-transform: capitalize;
                        }
                        .caja-datos{
                            display: flex;
                            flex-direction: column;
                            text-align:justify;
                            justify-content:center;
                            align-content: center;
                            width: 300px;    
                            span{
                                font-weight:bolder;
                                font-size: 20px;
                                text-decoration: underline;
                                margin-left: 20px;
                            }
                            p{
                                font-size: 20px;
                                font-style: italic;
                            }
                        }
                        .custom-btn.btn{
<<<<<<<< HEAD:docs/scss/secciones/_info.scss
                            background-color:color.$color-primario;
                            border-color:color.$color-primario;
========
                            background-color:map.get(maps.$colores, color-primario);
                            border-color:map.get(maps.$colores, color-primario);
>>>>>>>> version-1:docs/sass/secciones/_info.scss
                        }
                    }
                    @media (max-width:992px){// Responsive para tablet pequeña//
                        height: 600px;
                    }
                }
            }
        }
    }
    footer{
            margin-top: 20px;
        }
}