
@use "sass:map";
@use "../utilidades/maps";
@use'../general/variables' as color;
@use '../utilidades/mixins';

/*PROYECTOS*/

body{
    main{
        overflow:auto;
        .contenedor-proyectos{
            height: 550px;
            margin-top: clamp(170px, 5vw, 170px);
            margin-bottom: clamp(40px, 5vw,40px);
            
            .row{
                .custom-col-proyect{
                    border: 2px solid color.$color-borde1;
                    border-radius: 10px;
                    padding-left:30px;
                    padding-top: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .proyectos{
                        background-color: rgb(252, 252, 252);
                        border:2px solid color.$color-borde1;
                        border-radius: 10px;
                        margin: 5px;
                        cursor: pointer;
                        overflow: visible;
                        transition: 0.5s;
                        position: relative;
                        &:hover{
                            background:map.get(maps.$colores, color-primario);
                            transform: scale(1.09) translateX(25px) translateY(-15px);
                            z-index: 10;
                        }
                        &:hover .contenido .rank{
                            opacity: 1;
                        }
                        .img-proyecto{
                            @include mixins.escalas(100px,100px);
                            img{
                                @include mixins.escalas(100%,100%);
                                object-fit: cover;
                                margin:10px;
                                border-radius: 4px;
                            }
                        }
                        .contenido{
                            margin-left:20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-transform: capitalize;
                            .rank{
                                position: relative;
                                top:40px;
                                left: 350px;
                                font-size: 50px;
                                opacity: 0;
                                transition: 0.5s;
                                @media (max-width: 1400px) { //Responsive tablet grande//
                                    left: 280px;
                                }
                                @media (max-width: 1200px) { //Responsive tablet mediana//
                                    left: 220px;
                                    top:15px;
                                }
                                @media (max-width: 992px) { //Responsive tablet pequeña//
                                    left: 120px;
                                    top:10px;
                                }
                                 @media (max-width: 768px) { //Responsive tablet celular//
                                    left: 220px;
                                    top:40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}