            /*HEADER*/

body{
    header{
        nav{
            .custom-color{
                background-color:#1E293B ;
            }
            .container{
                h1{
                    color:white;
                    text-decoration: underline;
                    text-transform: uppercase;
                }

            }
            .custom-flex-start{
                display: flex !important;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start !important;
                align-content: flex-start;
                border-radius: 4px;
                ul{
                    li{
                        background-color: #3ba57c;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100px;
                        height: 40px;
                        margin: 7px;
                        border-radius: 4px;
                        border: 1px solid white;
                        .active{
                            border: 2px solid #FACC15;
                        }
                        a{
                            color:#030505 ;
                        }
                        &:hover{
                            border: 1px solid #ee01f7;
                        }
                    }
                }
            }
        }
    }
}