            /*HEADER*/

body{
    header{
        nav{
            .custom-color{
                background-color:#1E293B ;
            }
            .container{
                h1{
                    color:white;
                    text-decoration: underline;
                    text-transform: uppercase;
                }

            }
            .custom-flex-start{
                display: flex !important;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start !important;
                align-content: flex-start;
                border-radius: 4px;
                
                ul{
                    position: relative;
                    display: flex;
                    @media (max-width:768px) { //Responsive para celular//
                        flex-direction: row;
                        flex-wrap: wrap;
                    }
                    li{
                        position: relative;
                        background-color: #3ba57c;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100px;
                        height: 40px;
                        margin: 7px;
                        border-radius: 4px;
                        border: 1px solid white;
                        cursor: pointer;
                        transition: 0.5S;
                        &.active{
                            width: 180px;
                            i{
                                    opacity: 0;
                                }
                            .titulo-icono{
                                    transform: scale(1);
                                    font-weight: bolder;
                                    color:black;
                                }
                        }
                        a{
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100px;
                            height: 40px;
                            margin: 7px;
                            border-radius: 4px;
                            cursor: pointer;
                            transition: 0.5S;
                        }
                        &:hover{
                            width:180px;
                            &::before{
                                opacity: 1;
                            }
                            &::after{
                                opacity: 0.5;

                            }
                            i{
                                transform: scale(0);
                                color: aliceblue;
                                transition-delay: 0.25s;
                            }
                            .titulo-icono{
                                transform: scale(1);
                                transition-delay: 0.25s;
                                font-weight: bolder;
                                color: white;
                            }
                        }
                        &::before{
                            content: "";
                            position: absolute;
                            inset: 0;
                            background: linear-gradient(45deg,#3ba57c,#0EA5E9 );
                            opacity: 0;
                            transition: 0.5s;
                            
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            top: 10px;
                            width: 100%;
                            height: 100%;
                            background: linear-gradient(45deg,#3ba57c,#0EA5E9);
                            transition: 0.5s;
                            opacity: 0;
                            z-index: -1;
                            filter: blur(15px);
                        }
                        i{
                            margin-top: 3px;
                            color: aliceblue;
                            font-size: 1.75em;
                            transition: 0.5s;
                            transition-delay: 0.25s;
                        }
                        span{
                            position: absolute;
                        }
                        .titulo-icono{
                            text-transform: uppercase;
                            transform: scale(0);
                            transition: 0.5s;
                            transition-delay: 0s;
                        }
                    }
                }
            }
        }
    }
}