            /* HOME*/

body{
    main{
        .contenedor-home{
            margin-top: 120px;
            height: 600px;
        }
    } 
} 

            /*TEXTO HOME*/
body{
    main{
        .container{
            .home__texto{   /*TEXTO HOME*/
                    h2{
                        text-transform: capitalize;
                        font-size: 70px;
                        font-weight:bolder;
                    }
                    p{
                        font-size: 40px;
                        font-style: italic;
                    }  
                }
            .home__img{    /*IMAGEN HOME*/
                    img{
                        width: 550px;
                        border-radius:10px
                    }
                }
            }
        }
    } 




