            /*INFO*/

            /*Sobre Mi*/

main .contenedor-info{
    margin-top: 130px;
    text-align: center;
}
main .contenedor-info .row .columna-sobre-mi{
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
}
main .contenedor-info .row .columna-sobre-mi h2{
    text-transform: capitalize;
    text-decoration: underline;
}

main .contenedor-info .row .columna-sobre-mi p{
    font-style: italic;
}
            /*Mis Datos*/

main .contenedor-info .row-mis-datos{
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
}

main .contenedor-info .row .columna-img-info{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .contenedor-info .row .columna-img-info img{
    width: 400px;
    border-radius: 25px;
}

main .contenedor-info .row .columna-caja-datos{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-left: 2px solid black;
}

main .contenedor-info .row .columna-caja-datos .caja-datos{
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align:justify;
    justify-content:center;
    align-content: center;
    
    
}

main .contenedor-info .row .columna-caja-datos .caja-datos-info h2{
    font-size: 60px;
    text-decoration: underline;
    text-transform: capitalize;
    
    
}

main .contenedor-info .row .columna-caja-datos .caja-datos-info .caja-datos{
    width: 300px;    
    display: flex;
    justify-content: center;
}

main .contenedor-info .row .columna-caja-datos .caja-datos-info .caja-datos span{
    font-weight:bolder;
    font-size: 20px;
    text-decoration: underline;
    margin-left: 20px;
}

main .contenedor-info .row .columna-caja-datos .caja-datos-info .caja-datos p{
    font-size: 20px;
    font-style: italic;
}


main .contenedor-info .row .columna-caja-datos .caja-datos-info  .custom-btn.btn {
    background-color: #3ba57c;
    border-color: #3ba57c;
}