            /*PROYECTOS*/

body{
    main{
        .contenedor-proyectos{
            margin-top: 120px;
            height: 550px;
            .row{
                .custom-col-proyect{
                    border: 2px solid rgb(3, 3, 3);
                    border-radius: 10px;
                    padding-left:30px;
                    padding-top: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .proyectos{
                        background-color: rgb(252, 252, 252);
                        border:2px solid black;
                        border-radius: 10px;
                        margin: 5px;
                        cursor: pointer;
                        overflow: visible;
                        transition: 0.5s;
                        position: relative;
                        &:hover{
                            background:#3ba57c;
                            transform: scale(1.09) translateX(25px) translateY(-15px);
                            z-index: 10;
                        }
                        &:hover .contenido .rank{
                            opacity: 1;
                        }
                        .img-proyecto{
                            width: 100px;
                            height: 100px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                margin:10px;
                                border-radius: 4px;
                            }
                        }
                        .contenido{
                            margin-left:20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-transform: capitalize;
                            .rank{
                                position: relative;
                                top:40px;
                                left: 350px;
                                font-size: 50px;
                                opacity: 0;
                                transition: 0.5s;
                            }
                        }
                    }
                }
            }
        }
    }
}