/*GENERAL*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*HEADER*/
body header nav .custom-color {
  background-color: #1E293B;
}
body header nav .container h1 {
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
}
body header nav .custom-flex-start {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start !important;
  align-content: flex-start;
  border-radius: 4px;
}
body header nav .custom-flex-start ul {
  position: relative;
  display: flex;
}
@media (max-width: 768px) {
  body header nav .custom-flex-start ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
body header nav .custom-flex-start ul li {
  position: relative;
  background-color: #3ba57c;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  margin: 7px;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.5S;
}
body header nav .custom-flex-start ul li.active {
  width: 180px;
}
body header nav .custom-flex-start ul li.active i {
  opacity: 0;
}
body header nav .custom-flex-start ul li.active .titulo-icono {
  transform: scale(1);
  font-weight: bolder;
  color: black;
}
body header nav .custom-flex-start ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  margin: 7px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5S;
}
body header nav .custom-flex-start ul li:hover {
  width: 180px;
}
body header nav .custom-flex-start ul li:hover::before {
  opacity: 1;
}
body header nav .custom-flex-start ul li:hover::after {
  opacity: 0.5;
}
body header nav .custom-flex-start ul li:hover i {
  transform: scale(0);
  color: aliceblue;
  transition-delay: 0.25s;
}
body header nav .custom-flex-start ul li:hover .titulo-icono {
  transform: scale(1);
  transition-delay: 0.25s;
  font-weight: bolder;
  color: white;
}
body header nav .custom-flex-start ul li::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, #3ba57c, #0EA5E9);
  opacity: 0;
  transition: 0.5s;
}
body header nav .custom-flex-start ul li::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #3ba57c, #0EA5E9);
  transition: 0.5s;
  opacity: 0;
  z-index: -1;
  filter: blur(15px);
}
body header nav .custom-flex-start ul li i {
  margin-top: 3px;
  color: aliceblue;
  font-size: 1.75em;
  transition: 0.5s;
  transition-delay: 0.25s;
}
body header nav .custom-flex-start ul li span {
  position: absolute;
}
body header nav .custom-flex-start ul li .titulo-icono {
  text-transform: uppercase;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d7dde2;
}

/*CONTACTO*/
body main .contenedor-contactos {
  margin-top: 130px;
}
@media (max-width: 768px) {
  body main .contenedor-contactos {
    margin-top: 170px;
  }
}
body main .contenedor-contactos .row .columna-contactos { /*Enlaces */ }
body main .contenedor-contactos .row .columna-contactos .titulo-caja-contactos {
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
}
body main .contenedor-contactos .row .columna-contactos .caja-contactos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  align-content: center;
}
@media (max-width: 768px) {
  body main .contenedor-contactos .row .columna-contactos .caja-contactos {
    grid-template-columns: repeat(2, 1fr);
  }
}
body main .contenedor-contactos .row .columna-contactos .caja-contactos .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid black;
  margin: 30px 0px;
  transition: 1s;
  z-index: 3;
}
body main .contenedor-contactos .row .columna-contactos .caja-contactos .contact i {
  font-size: 80px;
}
body main .contenedor-contactos .row .columna-contactos .caja-contactos .contact:hover {
  transform: scale(130%) translateY(-15px);
  cursor: pointer;
  background-color: #3ba57c;
}
body main .contenedor-contactos .row-formulario { /*Formulario*/
  margin: 30px 0px;
}
body main .contenedor-contactos .row-formulario h2 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 25px;
}
body main .contenedor-contactos .row-formulario .columna-formulario-seccion {
  margin-bottom: 86px;
}
body main .contenedor-contactos .row-formulario .columna-formulario-seccion form label {
  font-weight: bolder;
  text-transform: capitalize;
  text-decoration: underline;
}

/*FORMACION*/
body main .contenedor-formacion {
  margin-top: 150px;
  text-align: center;
}
@media (max-width: 768px) {
  body main .contenedor-formacion {
    margin-top: 170px;
  }
}
body main .contenedor-formacion .row .columna-mi { /*Miformacion*/
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
}
body main .contenedor-formacion .row .columna-mi .titulo-parrafo-forma {
  text-decoration: underline;
}
body main .contenedor-formacion .row .titulo-row-2 { /*Formadores*/
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
}
body main .contenedor-formacion .row .columna-formaciones {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin: 15px 0px;
  gap: 10px;
  border: 2px solid black;
  padding: 20px 0px;
  border-radius: 5px;
}
@media (max-width: 1200px) {
  body main .contenedor-formacion .row .columna-formaciones {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
  }
}
@media (max-width: 768px) {
  body main .contenedor-formacion .row .columna-formaciones {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
}
body main .contenedor-formacion .row .columna-formaciones .tarjeta {
  position: relative;
  width: 350px;
  height: 280px;
  border: 3px solid rgb(248, 247, 247);
  border-radius: 20px;
  overflow: hidden;
  background-color: #3ba57c;
}
body main .contenedor-formacion .row .columna-formaciones .tarjeta .icono-forma {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  transition-delay: 0.25s;
  z-index: 5;
  background: var(--i);
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .contenedor-formacion .row .columna-formaciones .tarjeta .icono-forma img {
  width: 300px;
  margin-top: 5px;
  border-radius: 5px;
  transition: 0.5s;
  transition-delay: 0.25s;
}
body main .contenedor-formacion .row .columna-formaciones .tarjeta .content-forma {
  position: relative;
  padding: 20px;
  text-align: center;
  margin-top: 110px;
  z-index: 1;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}
body main .contenedor-formacion .row .columna-formaciones .tarjeta .content-forma h2 {
  text-transform: capitalize;
}
body main .contenedor-formacion .row .columna-formaciones .tarjeta .content-forma p {
  font-size: 20px;
}
body main .contenedor-formacion .row .columna-formaciones .tarjeta:hover .icono-forma {
  top: 30px;
  left: calc(50% - 40px);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  transition-delay: 0s;
}
body main .contenedor-formacion .row .columna-formaciones .tarjeta:hover .img-formacion {
  width: 80px;
  transition-delay: 0s;
}
body main .contenedor-formacion .row .columna-formaciones .tarjeta:hover .content-forma {
  transform: scale(1);
  transition-delay: 0.25s;
}
body main .contenedor-formacion .row .columna-herramientas { /*Herramientas*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 400px);
  gap: 15px;
  justify-items: center;
  align-items: center;
  margin: 15px 0px;
  transform-style: preserve-3d;
  width: 100%;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 5px;
}
@media (max-width: 1200px) {
  body main .contenedor-formacion .row .columna-herramientas {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 400px);
  }
}
@media (max-width: 992px) {
  body main .contenedor-formacion .row .columna-herramientas {
    grid-template-columns: repeat(2, 340px);
  }
}
@media (max-width: 768px) {
  body main .contenedor-formacion .row .columna-herramientas {
    grid-template-columns: 1fr;
  }
}
body main .contenedor-formacion .row .columna-herramientas .card {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 20px;
  transform-style: preserve-3d;
  border-radius: 15px;
  overflow: hidden;
  border: 3px solid white;
}
body main .contenedor-formacion .row .columna-herramientas .card .caja-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1.5s ease;
}
body main .contenedor-formacion .row .columna-herramientas .card .caja-card .img-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #000000;
}
body main .contenedor-formacion .row .columna-herramientas .card .caja-card .img-card i {
  object-fit: cover;
  font-size: 80px;
  color: #d7dde2;
}
body main .contenedor-formacion .row .columna-herramientas .card .caja-card .contenido-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #505152;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
body main .contenedor-formacion .row .columna-herramientas .card .caja-card .contenido-card div {
  transform-style: preserve-3d;
  transform: translateZ(100px);
  background: linear-gradient(45deg, #0EA5E9, #3ba57c);
  margin: 0px 30px;
  padding: 20px;
  border-radius: 15px;
}
body main .contenedor-formacion .row .columna-herramientas .card .caja-card .contenido-card div h2 {
  text-transform: capitalize;
  font-style: italic;
  text-decoration: underline;
  backface-visibility: hidden;
}
body main .contenedor-formacion .row .columna-herramientas .card .caja-card .contenido-card div p {
  font-size: 16px;
  backface-visibility: hidden;
}
body main .contenedor-formacion .row .columna-herramientas .card:hover .caja-card {
  transform: rotateY(180deg);
}

/* HOME*/
/*TEXTO HOME*/
body main .container {
  margin-top: 120px;
  height: 600px;
}
@media (max-width: 992px) {
  body main .container {
    margin-top: 140px;
  }
}
@media (max-width: 768px) {
  body main .container {
    margin-top: 180px;
  }
}
body main .container .home__texto { /*TEXTO HOME*/ }
body main .container .home__texto h2 {
  text-transform: capitalize;
  font-size: 70px;
  font-weight: bolder;
}
@media (max-width: 1200px) {
  body main .container .home__texto h2 {
    font-size: 50px;
  }
}
body main .container .home__texto p {
  font-size: 40px;
  font-style: italic;
}
@media (max-width: 1200px) {
  body main .container .home__texto p {
    font-size: 30px;
  }
}
body main .container .home__img { /*IMAGEN HOME*/ }
body main .container .home__img img {
  width: 550px;
  border-radius: 10px;
}
@media (max-width: 1200px) {
  body main .container .home__img img {
    width: 450px;
  }
}

/*PROYECTOS*/
body main {
  overflow: auto;
}
body main .contenedor-proyectos {
  height: 550px;
  margin-top: clamp(170px, 5vw, 170px);
  margin-bottom: clamp(40px, 5vw, 40px);
}
body main .contenedor-proyectos .row .custom-col-proyect {
  border: 2px solid rgb(3, 3, 3);
  border-radius: 10px;
  padding-left: 30px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body main .contenedor-proyectos .row .custom-col-proyect .proyectos {
  background-color: rgb(252, 252, 252);
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
  overflow: visible;
  transition: 0.5s;
  position: relative;
}
body main .contenedor-proyectos .row .custom-col-proyect .proyectos:hover {
  background: #3ba57c;
  transform: scale(1.09) translateX(25px) translateY(-15px);
  z-index: 10;
}
body main .contenedor-proyectos .row .custom-col-proyect .proyectos:hover .contenido .rank {
  opacity: 1;
}
body main .contenedor-proyectos .row .custom-col-proyect .proyectos .img-proyecto {
  width: 100px;
  height: 100px;
}
body main .contenedor-proyectos .row .custom-col-proyect .proyectos .img-proyecto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 10px;
  border-radius: 4px;
}
body main .contenedor-proyectos .row .custom-col-proyect .proyectos .contenido {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
}
body main .contenedor-proyectos .row .custom-col-proyect .proyectos .contenido .rank {
  position: relative;
  top: 40px;
  left: 350px;
  font-size: 50px;
  opacity: 0;
  transition: 0.5s;
}
@media (max-width: 1400px) {
  body main .contenedor-proyectos .row .custom-col-proyect .proyectos .contenido .rank {
    left: 280px;
  }
}
@media (max-width: 1200px) {
  body main .contenedor-proyectos .row .custom-col-proyect .proyectos .contenido .rank {
    left: 220px;
    top: 15px;
  }
}
@media (max-width: 992px) {
  body main .contenedor-proyectos .row .custom-col-proyect .proyectos .contenido .rank {
    left: 120px;
    top: 10px;
  }
}
@media (max-width: 768px) {
  body main .contenedor-proyectos .row .custom-col-proyect .proyectos .contenido .rank {
    left: 220px;
    top: 40px;
  }
}

/*INFO*/
body main .contenedor-info {
  margin-top: 130px;
  text-align: center;
}
@media (max-width: 768px) {
  body main .contenedor-info {
    margin-top: 170px;
  }
}
body main .contenedor-info .row .columna-sobre-mi { /*Sobre Mi*/
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
}
body main .contenedor-info .row .columna-sobre-mi h2 {
  text-transform: capitalize;
  text-decoration: underline;
}
body main .contenedor-info .row .columna-sobre-mi p {
  font-style: italic;
}
body main .contenedor-info .row-mis-datos { /*Mis Datos*/
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
}
body main .contenedor-info .row-mis-datos .columna-img-info {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .contenedor-info .row-mis-datos .columna-img-info img {
  width: 400px;
  border-radius: 25px;
}
body main .contenedor-info .row-mis-datos .columna-caja-datos {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-left: 2px solid black;
}
@media (max-width: 992px) {
  body main .contenedor-info .row-mis-datos .columna-caja-datos {
    border-left: 0px solid black;
    border-top: 2px solid black;
  }
}
body main .contenedor-info .row-mis-datos .columna-caja-datos .caja-datos-info .titulo-datos {
  font-size: 60px;
  text-decoration: underline;
  text-transform: capitalize;
}
body main .contenedor-info .row-mis-datos .columna-caja-datos .caja-datos-info .caja-datos {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
  align-content: center;
  width: 300px;
  display: flex;
  justify-content: center;
}
body main .contenedor-info .row-mis-datos .columna-caja-datos .caja-datos-info .caja-datos span {
  font-weight: bolder;
  font-size: 20px;
  text-decoration: underline;
  margin-left: 20px;
}
body main .contenedor-info .row-mis-datos .columna-caja-datos .caja-datos-info .caja-datos p {
  font-size: 20px;
  font-style: italic;
}
body main .contenedor-info .row-mis-datos .columna-caja-datos .caja-datos-info .custom-btn.btn {
  background-color: #3ba57c;
  border-color: #3ba57c;
}
@media (max-width: 992px) {
  body main .contenedor-info .row-mis-datos .columna-caja-datos {
    height: 600px;
  }
}
body footer {
  margin-top: 20px;
}

/*# sourceMappingURL=style.css.map */
